/* ==================================================================================== */
/*                                       CUSTOM                                         */
/* ==================================================================================== */
@font-face {
    font-family: 'arcadeClassic';
    src:
    url('../assets/arcadeClassic.eot?') format('eot'),
    /*url('../assets/arcadeClassic.woff') format('woff'),*/
    url('../assets/arcadeClassic.ttf') format('truetype');
}
/* ==================================================================================== */
/*                                        RESET                                         */
/* ==================================================================================== */
* {
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'arcadeClassic', Fallback, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.25);
}
/* ==================================================================================== */
/*                                       GENERAL                                        */
/* ==================================================================================== */
h1{
    font-size: 2em;
    text-shadow: 0 3px 2px rgb(230, 90, 40);
    color: rgb(255, 235, 40);
}
h2{
    font-size: 0.8em;
    color: rgb(255, 235, 40);
}
p{
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.button{
    position: relative;
    display: inline-block;

    width: 16%;
    margin: 0 5% 0 5%;

    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(255, 0, 0);
    border-radius: 25%;
}
.button:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.buttonContent{
    position: absolute;
    display:flex;
    justify-content: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 70%;
}
.button:hover{
    border: 5px solid rgb(225, 225, 225);
}
@media (min-width: 900px){
    h1{font-size: 2em;}
    h2{font-size: 1em;}
    p{font-size: 1em;}
    .buttonContent{font-size: 1em;}
}
@media (min-width: 1200px){
    h1{font-size: 4em;}
    h2{font-size: 1.8em;}
    p{font-size: 2em;}
    .buttonContent{font-size: 1.5em;}
}
@media (min-width: 1600px){
    h1{font-size: 6em;}
    h2{font-size: 2.5em;}
    p{font-size: 3em;}
    .buttonContent{font-size: 2em;}
}
/* ==================================================================================== */
/*                                       CUSTOM                                         */
/* ==================================================================================== */

@media (max-width: 1920px) {
    html{
        background: url(../assets/background@1x.png) center center no-repeat fixed;
    }
}
@media (min-width: 1921px){
    html{
        background: url(../assets/background@2x.png) center center no-repeat fixed;
    }
}
@media (min-width: 3841px){
    html{
        background: url(../assets/background@3x.png) center center no-repeat fixed;
    }
}

html{
    width: 100%;
    height: 100%;

    overflow-y: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ==================================================================================== */
/*                                       HEADER                                         */
/* ==================================================================================== */

/* ==================================================================================== */
/*                                       HEADING                                        */
/* ==================================================================================== */

/* ==================================================================================== */
/*                                        BODY                                          */
/* ==================================================================================== */

body{
    text-align: center;
    font-size: 16px;

    width: 100%;
    min-width: 320px;
    min-height: 450px;
}
.horContainer{
    text-align: center;

    margin: 0 0.5% 0.5% 0.5%;
}
.vertContainer{
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;

    width: 48.5%;
    min-width: 315px;
    /*min-height: 300px;*/
    margin: 1% auto 1% auto;
    padding: 1% 1% 1% 1%;
}
/* ------------------------------------------------------------------------------------ */
/*                                        top                                           */
/* ------------------------------------------------------------------------------------ */

/*.................top-left.................*/
.title{
    margin: 0 auto 1% auto;
    width: 75%;
}
.aboutGame{
    margin: 0 auto 1% auto;
    padding: 0 5% 0 5%;
    min-height: 50px;
}
.downloads{
    margin: 0 auto 1% auto;
}
/*.................top-right.................*/
.screenshots{
    position: relative;
    padding-top: auto;
    width: 98%;
    height: 98%;
    min-height: 100px;
    margin: 1% auto 1% auto;
}
.ssContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.screenshot{
    display: none;
    width: 100%;
    left: 0;
}
#ss02{
    display: block;
}
.navContainer1{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}
.navButtonL{ float: left; }
.navButtonR{ float: right; }

.navContainer1 > img{
    width: 10%;
    opacity: 0.5;
    margin: 0 1% 0 1%;
}
.navContainer1 > img:hover{ opacity: 1; }

.navContainer2{ width: 100%; }

.ssDot{
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin: 0 1% 0 1%;
    border: 0.5vw solid white;
    border-radius: 50%;
    opacity: 0.5;
}
#ssDot02{ background-color: white; }
@media (min-width: 640px){
    .navContainer2 > div{
        width: 2vw;
        height: 2vw;
        border: 0.25vw solid white;
    }
}
.navContainer2 > div:hover{ background-color: white; }

/* ------------------------------------------------------------------------------------ */
/*                                        bottom                                        */
/* ------------------------------------------------------------------------------------ */

/*.................bottom-left.................*/
.charContainer{
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    width: 24%;
}
.character{
    position: relative;
    overflow-x: visible;
    width: 100%;
    padding-top: 120%;

    border: none;
}
.character_walk{ animation: walk 0.7s steps(6) infinite; }
.character_attack{ animation: attack 0.5s steps(2); }
#spriteCat{
    background: url("../assets/spriteCat.png") left center;
    background-size: auto 100%;
    background-position: 73.5%;
}
#spriteLuis{
    background: url("../assets/spriteLuis.png") left center;
    background-size: auto 100%;
    background-position: 73.5%;
}
#spriteLaurence{
    background: url("../assets/spriteLaurence.png") left center;
    background-size: auto 100%;
    background-position: 73.5%;
}
#spriteTadeja{
    background: url("../assets/spriteTadeja.png") left center;
    background-size: auto 100%;
    background-position: 73.5%;
}

/*.................bottom-right.................*/
.aboutCharacter{
    padding: 0 5% 0 5%;
}
#aboutCat{
    display: none;
}
#aboutLuis{
    display: none;
}
#aboutLaurence{
    display: none;
}
#aboutTadeja{
    display: none;
}
/* ------------------------------------------------------------------------------------ */
/*                                        footer                                        */
/* ------------------------------------------------------------------------------------ */
footer{
    /*
    position: static;
    bottom: 0;

    padding-top: 10%;
    height: 15%;
    margin: 1% auto 0 auto;

    text-align:center;
    overflow-y: hidden;
    */
}
.slider{
    display: inline-block;
    width: 90%;
    margin: 8% 0 0 5%;
    border-radius: 16px 16px 0 0;
    background-color: rgba(255, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.25);

    -webkit-animation:   slideIn 0.25s ease-out normal 1 forwards;
    -moz-animation:      slideIn 0.25s ease-out normal 1 forwards;
    -o-animation:        slideIn 0.25s ease-out normal 1 forwards;
    animation:           slideIn 0.25s ease-out normal 1 forwards;

    /*border: 1px dashed rgb(32, 32, 32);*/
}
.slider:hover, .slider:focus{
    -webkit-animation:   slideOut 0.25s ease-out normal 1 forwards;
    -moz-animation:      slideOut 0.25s ease-out normal 1 forwards;
    -o-animation:        slideOut 0.25s ease-out normal 1 forwards;
    animation:           slideOut 0.25s ease-out normal 1 forwards;
}
.slider:hover img.slide, .slider:focus img.slide{
    -webkit-animation:   pointDown 0.25s ease-out normal 1 forwards;
    -moz-animation:      pointDown 0.25s ease-out normal 1 forwards;
    -o-animation:        pointDown 0.25s ease-out normal 1 forwards;
    animation:           pointDown 0.25s ease-out normal 1 forwards;
}
.contact{
    color: rgba(0, 0, 0, 1);
    font-size: 2vw;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 1%;
    padding-bottom: 5%;
    width: 30%;

    /*border: 1px dashed rgb(32, 32, 32);*/
}
img.slide{
    width: 10%;
    opacity: 0.5;

    -webkit-animation:   pointUp 0.25s ease-out normal 1 forwards;
    -moz-animation:      pointUp 0.25s ease-out normal 1 forwards;
    -o-animation:        pointUp 0.25s ease-out normal 1 forwards;
    animation:           pointUp 0.25s ease-out normal 1 forwards;
}
img.icon{
    width: 10%;
    padding: 5% 5% 5% 5%;
    opacity: 0.5;
}
img.icon:hover{
    opacity: 1;
}
/* ==================================================================================== */
/*                                     ANIMATIONS                                       */
/* ==================================================================================== */
@keyframes walk{
    0% { background-position: 0; }
    100% { background-position: 73.5%; }
}
@keyframes attack{
    0% { background-position: 73.5%; }
    50% { background-position: 98%; }
    100% { background-position: 73.5%; }
}

@keyframes slideIn{
    0%{ transform: translateY(-30%); }
    100%{ transform: translateY(0); }
}
@keyframes slideOut{
    0%{ transform: translateY(0); }
    100%{ transform: translateY(-30%); }
}
@keyframes pointUp {
    0%{ transform: rotate(-180deg); }
    100%{ transform: rotate(0); }
}
@keyframes pointDown {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(-180deg); }
}
